# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
dist/
build/
*.tsbuildinfo

# Logs
logs/
*.log
*.log.*

# dotenv
.env
.env.*

package-lock.json

# OS files
.DS_Store
Thumbs.db

# Husky (if used)
.husky/_/

# IDEs
.vscode/
.idea/

# Coverage reports
coverage/

# Optional: Lint cache
.eslintcache
